.carousel-container {
  position: relative;
  z-index: 1;
}
.carousel-item {
  height: calc(100vh - calc(var(--logo-height) + var(--nav-padding-y) + var(--nav-padding-y)));
  position: relative;
}
.carousel-container::after {
  content: url(/_assets/ui/scroll.png);
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 250ms ease;
}
.carousel-container:hover::after {
  opacity: 1;
}
.carousel-item h1 {
  text-shadow: 0 10px 50px #a58023;
}
.owl-prev,
.owl-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  width: 48px;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev span:hover,
.owl-carousel .owl-nav button.owl-next span:hover {
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .carousel-item {
    height: 400px;
  }
  .carousel-item h1 {
    max-width: 90vw;
  }
}
