.accordion {
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.panel {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 25vw;
  margin: 4px;
  padding: 0;
}
.panel:hover {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}
@-webkit-keyframes accordion {
  0% {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
    background-color: var(--grey-30);
  }
}
@keyframes accordion {
  0% {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
    background-color: var(--grey-30);
  }
}
.panel-head {
  color: rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0);
  position: absolute;
  padding: 1em 1em 1.5em;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.panel:hover .panel-head {
  -webkit-animation-name: accordion;
  animation-name: accordion;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.panel:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* 720 */

@media screen and (max-width: 720px) {
  .accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .accordion .panel {
    position: relative;
    height: 49vw;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 0;
  }
  .panel:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / 3;
  }
  .accordion .panel .panel-head {
    position: absolute;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    padding: 1em;
    width: 100%;
    text-align: center;
  }
  .panel-head:active {
    background: va(--gre-30);
  }
  .accordion .panel img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
