.values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100vw;
  padding: 2rem 2rem 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.values img {
  width: 4rem;
  margin-bottom: 1rem;
}
.values .w-4-col {
  max-width: 40ch;
}
.tabnav {
  margin-top: 5rem;
  background-image: var(--grad-gold);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.tablink {
  text-transform: uppercase;
  color: var(--grey-50);
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 16px;
  font-size: 16px;
  background-position: left bottom 4px;
  background-size: 0% 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.tablink + .tablink {
  margin-left: 5%;
}
.tablink.active {
  color: var(--grey-75);
  pointer-events: none;
  background-image: var(--grad-gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.tablink:hover {
  background-image: var(--grad-grey);
  color: black;
  background-size: 100% 4px;
  background-repeat: no-repeat;
}
.tabcontent {
  display: none;
  margin-top: 3rem;
  width: 100%;
}

.personnel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.profile-pic-container {
  background-color: aqua;
  border-radius: 50vh;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.info-container {
  margin-left: 1.5rem;
}
.full-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.job-title {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}
.financial-image {
  max-width: 80%;
}

@media screen and (max-width: 720px) {
  .values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1.5rem 3rem;
  }
  .tabnav {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: 0;
    background-color: var(--grey-5);
  }
  .tablink {
    padding: 8px;
  }
  .tablink + .tablink {
    margin-left: 0;
  }
  .tablink.active {
    color: white;
    font-size: 1.5rem;
    background-size: 100%;
  }
}
